*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/runConfigurations.xml
.idea/misc.xml

*.jks

.externalNativeBuild

google-services.json

freeline.py
freeline/
freeline_project_description.json
